<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Scenario 1</h1>
  <p>
    <scenario1-component1></scenario1-component1>
  </p>
  <h1>Scenario 2</h1>
  <p>
    <scenario2-component1></scenario2-component1>
  </p>
  <h1>Scenario 3</h1>
  <p>
    <scenario3-component1></scenario3-component1>
  </p>
  <h1>Scenario 4</h1>
  <p>
    <scenario4-component1></scenario4-component1>
  </p>
  <h1>Scenario 5</h1>
  <p>
    <scenario5-component1></scenario5-component1>
  </p>
  <h1>Scenario 6</h1>
  <p>
    <scenario6-component1></scenario6-component1>
  </p>
</div>
<router-outlet></router-outlet>
